<!doctype html>
<html>

<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <p>
        <select id='sel' name='sel' class="selectpicker sel" multiple>
            {% for item in data %}
            <option value="{{ item['id'] }}">{{ item['description'] }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <button type="button" id="process">Получить данные</button>
    </p>

    <div id="added">
        <p><b>Дата рождения:</b> <span id="born"></span></p>
        <p><b>Номер телефона:</b> <span id="number"></span></p>
        <p>
        <textarea id="text-msg" cols="30" rows="10" placeholder="Введите сообщение"></textarea>
        <p id="target-id"></p>
        </p>
        <p><button id="send">Отправить сообщение</button></p>
    </div>

    <div id="msg"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>